# serialMonitor.template.template: Use 'substitute "PV=XXX:YYY:PV2MONITOR"' before including this file
record( calcout, "$(SER_OK_PV):MON_SER" )
{
	field( INPA, "$(SER_OK_PV).SEVR NPP MS" )
	field( CALC, "A>=2" )
	field( OOPT, "When Non-zero" )
	field( OUT,	 "$(SER_OK_PV).PROC PP MS" )
	field( SCAN, "$(MON_SCAN=10 second)" )
	field( HIGH, "1" )
	field( HSV,  "MINOR" )
	info( autosaveFields, "" )
	info( archiveFields,  "" )
}
